body {
    background-color: lightslategray;
    box-sizing: border-box;
    width: auto;
}

.title {
    background-color: rgb(202, 131, 131);
    width: 15%;
    text-align: center;
}

#first {
    background-color: bisque;
    text-align: left;
}
#second {
    background-color: bisque;
    text-align: center;
}
#third {
    background-color: bisque;
    text-align: right;
}