body {
    background-color: lightslategray;
}

.title {
    background-color: rgb(202, 131, 131);
    float: left;

}

.box {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    background-color:bisque;
    margin: 20px;
}